CONFIG_TARGET_ipq95xx=y
CONFIG_TARGET_ipq95xx_generic=y
CONFIG_TARGET_ipq95xx_generic_Default=y
CONFIG_DEVEL=y
CONFIG_TOOLCHAINOPTS=y
CONFIG_BINUTILS_USE_VERSION_2_31_1=y
CONFIG_GCC_USE_VERSION_7=y
CONFIG_LIBC_USE_MUSL=y
CONFIG_IPV6=y
CONFIG_PKG_CHECK_FORMAT_SECURITY=y
CONFIG_PKG_ASLR_PIE=y
CONFIG_PKG_CC_STACKPROTECTOR_STRONG=y
CONFIG_PKG_FORTIFY_SOURCE_2=y
CONFIG_PKG_RELRO_FULL=y
CONFIG_PACKAGE_ddns-scripts=m
CONFIG_PACKAGE_ddns-scripts_cloudflare.com-v4=m
CONFIG_PACKAGE_luci-lib-ipkg=m
CONFIG_PACKAGE_luci-app-ddns=m
CONFIG_PACKAGE_luci-i18n-ddns-zh-cn=m
CONFIG_LUCI_LANG_zh_Hans=m
